<div class="row comment">
  <div class="col-md-8">
    <p><%= comment.body %></p>
    <p><%= comment.user.username %></p>
  </div>
  <div class="col-md-2">
    <p>buttons here with irrelevant, respond to and report</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
