.post {
	background-color: #DDD;
	border-style: dotted;
	border-radius: 5px 20px;
	box-shadow: 1px 1px 5px #888;
	margin: 20px 20px;
	padding: 1%;
	transition: all 0.2s ease-out;
}

.post:hover {
	background-color: #EEE;
	border-radius: 0;
}

#advertisements {
	.post {
		background-color: #59B;
		a {
			color: black;
		}
	}

	.post:hover {
		background-color: #59B + 50;
		border-radius: 0;
	}
}
